# Server configurations
HOST=localhost                                           # Set jadi `0.0.0.0` untuk production
PORT=8080
CORS_ALLOWED_ORIGINS=http://localhost:3000               # Set CORS sesuai frontend url
NODE_ENV=                                                # Set express untuk production

# Database configurations
MYSQL_ROOT_PASSWORD=root

DATABASE_USER=                                           # Set username untuk production
DATABASE_PASSWORD=                                       # Set password untuk production
DATABASE_NAME=sari_tebu
DATABASE_PORT=3306
DATABASE_HOST=localhost                                  # Set host sesuai database service (i.e. `database`) untuk production 
DATABASE_URL=mysql://root:root@localhost:3306/sari_tebu  # Set host sesuai database service (i.e. `database`) untuk production

# JWT configurations
ACCESS_TOKEN_KEY=                                        # Generate 128 karakter hexadecimal string (e.g. openssl rand -hex 64)
REFRESH_TOKEN_KEY=                                       # Generate 128 karakter hexadecimal string (e.g. openssl rand -hex 64)
#                                                        # Jika openssl tidak tersedia, jalankan ini instead:
#                                                        # node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
ACCESS_TOKEN_AGE=900
REFRESH_TOKEN_AGE=7d

# AWS configurations
ENABLE_AWS_SES=1                                         # Set ke 1 jika ingin kirim verification code lewat email dengan aws SES
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_SES_EMAIL_ADDRESS=